

@media screen and (max-width: 800px) {
  .filme-principal {
    height: 460px;
    background-size: 800px;
    align-items: center;
  }

  .filme-principal .container {
    max-width: 100%;
  }

  .containerButton {
    justify-content: space-between;
    display: flex;
  }
}
